{% extends "home.html" %}
{% block title %} Login {% endblock %}
{% block body %}
<body class="body">

{{form.csrf_token}}
<div class="container">
<div class="box">
<h2>Login</h2>
<!--{% with message = get_flashed_messages() %}
    {% if message %}
        <div> {{ message[0]}}</div>
    {% endif %}
{% endwith %} -->
<form method="POST">
{{form.csrf_token}}
<p>{{form.usuario.label}}{{form.usuario(class="input")}}</p>
<p>{{form.senha.label}}{{form.senha(class="input")}}</p>
<p>{{form.btlogin(class="button")}}</p>
{{form.msg.text}}
</form>
<p>Ainda não tem conta? <a href="/criarconta">Cadastre-se</a></p>
</div>
</div>
</body>
{% endblock %}